/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Happy School", cursive;
}

body,
p,
li,
a,
button,
input,
textarea {
  font-family: "Nunito Sans", sans-serif;
}

.logo-img {
  width: 90%;
  margin: 10%;
}

.header-title {
  font-size: 150%;
  color: #ffbd59;
  margin-right: 0%;
}

.collection-item {
  font-size: 110%;
  border-radius: 15px;
}

.collection1,
.collection2 {
  margin-left: 20%;
  font-size: 150%;
  color: #272932;
}

.p-show-typo {
  font-size: 300%;
  margin-bottom: 50%;
}

.showcase-typography {
  margin-top: 5%;
  align-items: center;
}

.tp-display {
  margin-top: 2%;
}

.spacer-div {
  margin: 2%;
  /* Adjust the height to get the desired spacing */
  display: block;
  clear: both;
}

.align-showcase-typo {
  display: inline-flex;
  align-items: center;
  /* This will vertically center align the child items */
}

.circle-1,
.circle-2,
.circle-3 {
  margin-left: 20%;
}

.grid-display {
  border: 2px solid black;
  margin: 10px 0;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 1.2em;
}

.container-grid {
  border: 1px solid #e0e0e0;
  padding: 20px;
  border-radius: 10px;
}

.highlight {
  background-color: #f9c2c2;
}

.chart-container {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  height: 100%;
}

.legend {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.legend .legend-item {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.legend .legend-color {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.chart-container2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.custom-dropdown {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.custom-dropdown:hover {
  background-color: #f5f5f5;
}

/* Style the dropdown arrow */
.custom-dropdown::after {
  content: "\25BC"; /* Unicode character for down arrow */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}

#countrySelector6 {
  display: flex;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

/* Colors */

/* This color is the main brand color */
.brand-color {
  background-color: #ffbd59;
  color: #455a64;
}

/* Functional Colors */
.second-color {
  background-color: #66d7d1;
  color: #fafafaff;
}

.functional-color-first {
  background-color: #26a69a;
  color: #fafafaff;
}

.functional-color-second {
  background-color: #005d6aff;
  color: #fafafaff;
}

.functional-color-third {
  background-color: #272932;
  color: #fafafaff;
}

.functional-color-fourth {
  background-color: #fafafaff;
  color: #272932;
}
/* ffa630 */
.feedback-color-first {
  background-color: #ffa630;
  color: #455a64;
}

.feedback-color-second {
  background-color: #e87461;
  color: #455a64;
}

.feedback-color-third {
  background-color: #f34213;
  color: #455a64;
}

/* frame for colors */
.frame {
  border: 1px solid #e0e0e0;
  padding: 2%;
  display: block;
  flex-wrap: wrap;
}

.color-box {
  width: 100%;
  height: 20%;
  border: 1px solid #000;
  margin: 2%;
}

.color-title {
  margin-left: 2%;
  width: 20%;
}
